<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeLeaf.org">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>INSCRIPCIÓN ENVIADA</title>
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>

<body class="d-flex justify-content-center align-items-center vh-100 bg-ligh">
  <div class="text-center">

    <h2 class="mb-3">Ud ha solicitado unirse a Liceo Central de Ciencias y Arte, <span
        th:text="${nombre}">nombre-representante</span></h2>

    <p class="text-black fs-3">
      Revise su correo electronico con la información presentada
    </p>

    <form th:action="@{/menu/botones}">
      <input class="btn btn-primary w-25" type="submit" value="HOME" />
    </form>
  </div>
</body>

</html>