<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeLeaf.org">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>MATRICULA</title>
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>

<body class="d-flex justify-content-center align-items-center vh-100 bg-ligh">
  <div class="text-center">

    <h2 class="mb-3">La matrícula de <span th:text="${nombreE}">nombre-estudiante</span> esta casi completa<br>Ahora dirígete a
      PAGOS para completar el proceso de matriculación</h2>

    <img src="/images/mascota_transiciones.png" alt="mascota transicion" class="mascotaTransicion-img">

    <form th:action="@{/representantes/pagos}">
      <input class="btn btn-primary w-25" type="submit" value="PAGOS" />
    </form>
  </div>
</body>

</html>