<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeLeaf.org">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>INSCRIPCIÓN ENVIADA</title>
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>

<body class="d-flex justify-content-center align-items-center vh-100 bg-ligh">
  <div class="text-center">

    <h1>El registro de <span th:text="${nombreE}">nombre-estudiante</span> fué exitoso</h1>
    <br></br>
    <h2>Por favor, revisa la información presentada en tu correo electrónico para avanzar al segundo paso <br> MATRICULA</h2>
    <img src="/images/mascota_transiciones.png" alt="mascota transicion" class="mascotaTransicion-img">
    <form th:action="@{/representantes/cuentaR}">
      <input class="btn btn-primary w-25" type="submit" value="VOLVER" />
    </form>
  </div>
</body>

</html>