<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>No tienes los permisos necesarios para acceder a esta página</h1>

    <form th:action="@{/perform_login}" method="post">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
    </form>

    <div th:if="${param.error}">
        <p style="color: red;">[[${session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message}]]</p>
    </div>
</body>

</html>