<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Inicio</title>
	<!-- Bootstrap -->
	<!-- <link rel="stylesheet" href="/css/bootstrap.min.css" /> -->
	<link rel="stylesheet" href="/static/css/estilos.css" />
</head>

<body>
	<header id="header">
		<a href="/representantes/opciones" class="logo">
			<img src="\images\logotipo.png" alt="logo de la compañia" class="logo-img" />
			<h2 class="nombre-empresa">LICEO CENTRAL DE CIENCIAS Y ARTE</h2>
		</a>

		<input type="checkbox" id="menu">
		<label for="menu" class="menu-icon">
			<img src="\images\menuHamburguesa.png" alt="menu hamburguesa">
		</label>

		<input type="checkbox" name="" id="menu">
		<nav class="menu">
			<a href="" class="nav-link">CUENTA</a>
			<a href="" class="nav-link">NOTIFICACION</a>
			<a href="" class="nav-link">PAGOS</a>
			<a href="" class="nav-link">PERFIL</a>
		</nav>
	</header>
</body>

</html>