<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta name="viewport" content="with=device-width, initial-scale = 1.0 ">
    <link rel="stylesheet" href="/static/css/estilos.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Liceo Central</title>
</head>

<body>
    <section class="padres-header">
        <nav>
            <a href="/menu/botones"><img src="/images/logotipo.png "></a>
            <div class="nav-links" id="navLinks">
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="#"> NOTIFICACIONES</a></li>
                    <li><a href="#"> PERFIL</a></li>
                    <li>
                        <form th:action="@{/perform_logout}" method="POST">
                            <button type="submit" class="logout-button">SALIR</button>
                        </form>
                    </li>
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>
        <div class="text-box">
            <h1>Cuenta REPRESENTANTE</h1>
            <br />
            <br></br>
            <br></br>
            <br />
        </div>
    </section>
    <!----------------- MENSAJE DE CIERRE DE SESIÓN ------------------->
    <div th:if="${param.logout}">
        <div class="alert alert-danger" role="alert">
            Has cerrado sesión con éxito.
        </div>
    </div>
    <!----------------- MENU PADRES------------------->
    <section class="menu-padres">

        <h2 class="mb-3">Bienvenido a Liceo Central de Ciencias y Arte, <span sec:authentication="principal.username">
        </h2>

        <section class="inicioSesion-Padres">
            <p>Los padres son los primeros responsables de la educación de sus hijos
                y es imprescindible el ejemplo continuo de la familia.
                <br> Ayudamos los padres en la educación de sus hijos, procurando su participación activa
                en la acción educativa del colegio
            </p>

        </section>
        <h1>Información Importante</h1>
        <div class="filas">
            <div class="menu-padres-colum" onclick="location.href='/representantes/registrarE';"
                style="cursor: pointer;">
                <img src="/images/matriculacion.jpg" alt="registro estudiante">
                <div class="layer">
                    <h3>REGISTRO</h3>
                </div>
            </div>
            <div class="menu-padres-colum" onclick="location.href='/representantes/matricular';"
                style="cursor: pointer;">
                <img src="/images/noticias.jpg" alt="">
                <div class="layer">
                    <h3>MATRICULACIÓN</h3>
                </div>
            </div>
            <div class="menu-padres-colum" onclick="location.href='/representantes/pagos';" style="cursor: pointer;">
                <img src="/images/pagos.jpg" alt="">
                <div class="layer">
                    <h3>PAGOS</h3>
                </div>
            </div>
        </div>
    </section>
    <!-----------------FOOTER------------------->
    <section class="footer">
        <h4> NOSOSTROS</h4>
        <p>
            Somos una institución dedicada a proporcionar una educación integral y de alta calidad.
            <br> Nuestro compromiso es con la formación de estudiantes preparados para enfrentar los retos del futuro.
        </p>
        <div class="icons">
            <i class="fa fa-facebook"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-instagram"></i>
            <i class="fa fa-linkedin"></i>
        </div>
    </section>
    <!-----------------JavaScript para el Menu-------------->

    <script>
        var navLinks = document.getElementById("navLinks"); I
        function showMenu() {
            navLinks.style.right = "0";
        }
        function hideMenu() {
            navLinks.style.right = "-200px";
        }
    </script>

</body>

</html>