<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Inicio</title>
	<link rel="stylesheet" href="/static/css/estilos.css" />
</head>

<body>
	<header id="header">
		<a href="/menu/botones" class="logo">
			<img src="\images\logotipo.png" alt="logo de la compañia" class="logo-img" />
			<h2 class="nombre-empresa">LICEO CENTRAL DE CIENCIAS Y ARTE</h2>
		</a>

		<input type="checkbox" id="menu">
		<label for="menu" class="menu-icon">
			<img src="\images\menuHamburguesa.png" alt="menu hamburguesa">
		</label>

		<input type="checkbox" name="" id="menu">
		<nav class="menu">
			<a href="" class="nav-link">HOME</a>
			<div class="dropdown">
				<a href="/representantes/space" class="nav-link">PADRES</a>
				<div class="dropdown-content">
					<a href="#">INSCRIPCIÓN</a>
					<a href="/representantes/login">PAGOS</a>
					<a href="#">NOTICIAS</a>
				</div>
			</div>
			<div class="dropdown">
				<a href="#" class="nav-link">ESTUDIANTES</a>
				<div class="dropdown-content">
					<a href="#">MATRÍCULA</a>
					<a href="#">HORARIOS</a>
					<a href="#">NOTAS</a>
				</div>
			</div>
			<a href="" class="nav-link"> ATLETISMO </a>
			<a href="" class="nav-link">BIBLIOTECA</a>
			<a href="/contactos/contactar" class="nav-link">CONTACTOS</a>
		</nav>
	</header>

	<!-- <div class="espaciador"></div> -->

	<div class="primera-seccion">
		<div class="contenido">
			<h1 class="text-5xl font-bold mb-4">
				Desarrollando grandes seres humanos
			</h1>
			<button class="text-5xl font-bold mb-4">
				SOLICITAR LA ADMISIÓN
			</button>
			<button class="bg-white text-yellow-400 py-2 px-4 rounded-md hover:bg-yellow-200">
				ACERCA DE NOSOTROS
			</button>
		</div>
		<div class="presentacion">
			<img src="/images/presentacion.jpg" alt="imagen-colegio" class="img-presentacion">
		</div>

	</div>

	<div class="">

	</div>
</body>

</html>